@font-face {
	font-family:brightFont;
	src: url(Bright.otf);
}
* {
	font-family:brightFont;
}
body {
	background-color: #e4b4b2;
}

li {
	display:inline;
	border-collapse:collapse;
}
li a {
	padding:45px;
	text-decoration:none;
	color:white;
}
li a:visited {
	text-decoration:none;
}

li a:hover {
	color:#5f3f3c;
}

ul {
	position:static;
	max-width:100vw;
	text-align:center;
	border:2px solid brown;
	overflow:hidden;
	font-size:35px;
	color:#f8f8f6;
	display:inline-block;
	background-color:#8c4a40;
	font-family:brightFont;
	margin-top:0px;
}

#navbar {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.active {
	background-color:#b17873;
}
#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}


#WelcomePage {
	text-align:center;
	font-size: 40px;
}

h1 {
	text-align:center;
	font-size:60px;
	margin-top:0px;
}

/*Styles for Information Page*/
#informationPics {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


/*Styles for Booking Page*/
#BookingP {
	font-size:30px;
	text-align:center;
}

.BookingTable {
	border:2px solid black;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:30px;
}

tr, td {
	border:2px solid black;
	border-collapse:collapse;
}

.inner_button {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color: transparent;
  border-color:transparent;
  font-size:30px;
}

.inner_button:active {
	background-color:brown;
}

#AvailabilityTimes {
	text-align:center;
	font-size:30px;
}
#UserInformationButton {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#UserInfo {
	font-size:30px;
}

/*UserInformation html*/
#UserInfoForm {
	display:table;
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
}

.inputStyle {
  background-color: brown;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.inputStyleName {
	background-color:white;
	border:2px solid black;
	font-size:30px;
	height:40px;
	margin-bottom:20px;
}

#Confirmation {
	text-align:center;
	font-size:30px;
}

/*Style for Socials*/
#insta {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}